#main{
  width: 1000px;
  height: 600px;
  float: left;
  border: 2px solid #aaa;
}
#main .redsquare{
  width: 300px;
  height: 300px;
  display:inline-block;
  margin-left: 350px;
  margin-top: 150px;
  background-color: #f74444;
}
